
@{
    ViewBag.Title = "Messanger";
}

<style type="text/css">

 .row2 {
       
        min-height:50px;
    }

    .row3 {
        min-height: 50px;
    }

  

</style>


<div class="container">
    <div class="row" >
        <div class="row2 col-lg-3 col-md-3 col-sm-2 " style="background-color:orange ">
    <div class="row">
        <div class="col-sm-6 col-xs-6 text-center">
           
            <a href="@Url.Action("Settings", "Home")">
                <h1>@DateTime.Now</h1>
                <span class="glyphicon glyphicon-cog black  " ></span>
            </a>



        </div>
        <div class="col-sm-6 col-xs-6 text-center">

            <a href="@Url.Action("NewMessage", "Home")">
                <span class=" glyphicon glyphicon-comment  " ></span>
            </a>
            
         
        </div>
    </div>

         
         </div>
        <div class= "row3 col-lg-9 col-md-9 col-sm-10" style="background-color:cornflowerblue">
          @Html.Action("ReciverStats","Home", new {id=1 })
        </div>
    </div>
    <div class="row" >
        <div class="row2 col-lg-3 col-md-3 col-sm-2" style="background-color:yellow">
          @Html.Action("GetReceivers","Home")
        </div>
        <div id="GetMessagesDiv" class="row3 col-lg-9 col-md-9 col-sm-10" >
        @Html.Action("GetMessages","Home")
        </div>
    </div>
  
    

</div>




@section Scripts
{



<script type="text/javascript">
       $(document).ready(function () {

           $('#ReceiverData form').submit(function () {

            $.ajax({
                url: '@Url.Action("GetMessages", "Home")',


                data: {
                    Id: $('.ButtonWithId').val(),

                },
                success: function (data) {
                  
                   
                    $('#GetMessagesDiv').html(data);
                },
                error: function (data) {
                    alert('Get Messages Error'); 
                }
            });
          return false;
        });
    });
</script>







<script type="text/javascript">
       $(document).ready(function () {

          
          
           $('#GetMessagesDiv').on('submit', 'form', function () {

             
                 
                   
               var messageData = {
                   MessageData: $('#MessageDataDiv').val(), ReceiverId: $('#ReceiverIdDiv').val()
               };
           
               console.log('messageData: ', messageData);

                $.ajax({
                url: '@Url.Action("SendMessage", "Home")',


                data: messageData,
                success: function (data) {
                  
                    $('#GetMessagesDiv').html(data);
                   
                },
                error: function (data) {
                    alert( 'Error  SendMessage');
                }
            });
          return false;







           });
    });
</script>
  

}