
@{
    ViewBag.Title = "Messanger";
}

<style type="text/css">

 .row2 {
       
        min-height:50px;
    }

    .row3 {
        min-height: 50px;
    }

  

</style>


<div class="container">
    <div class="row" >
        <div class="row2 col-lg-3 col-md-3 col-sm-2 " style="background-color:lightgray ">

            <h3>Receivers</h3>

   

         
         </div>
        <div class= "row3 col-lg-9 col-md-9 col-sm-10">
            <h3>Messages</h3>

        
        </div>
    </div>
    <div class="row" >
        <div id="GetReceiversDiv" class="row2 col-lg-3 col-md-3 col-sm-2" >
          @Html.Action("GetReceivers","Home")
        </div>
        <div id="GetMessagesDiv" class="row3 col-lg-9 col-md-9 col-sm-10" >
        @Html.Action("GetMessages","Home")
        </div>
    </div>
  
    

</div>




@section Scripts
{

<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
<script src="/signalr/hubs"></script>





<script type="text/javascript">
    $(document).ready(function () {



        $('#GetMessagesDiv ').on('submit', '.DeleteForm', function () {



           





                $.ajax({
                    url: '@Url.Action("DeleteMessage", "Home")',


                data: {

                    MessageId:$(this).find('.DeleteMessageDiv').val(),
                    SenderId:  $(this).find('.SenderMessageDiv').val(),
                ReceiverId:  $(this).find('.ReceiverMessageDiv').val(),


                },
                success: function (data) {

                    $('#GetMessagesDiv').html(data);

                },
                error: function (data) {
                    alert('Error  DeleteMessage');
                    alert(data);
                }
            });
          return false;





           












    });
    });

</script>



























<script type="text/javascript">
       $(document).ready(function () {



           $('#GetReceiversDiv').on('submit', 'form', function () {




               
  

                $.ajax({
                url: '@Url.Action("GetMessages", "Home")',


                data: {
                    Id: $(this).find('.ButtonWithId').val(),

                },
                success: function (data) {

                    $('#GetMessagesDiv').html(data);

                },
                error: function (data) {
                    alert( 'Error  SendMessage');
                }
            });
          return false;







           });
    });
</script>








   




<script type="text/javascript">
       $(document).ready(function () {

          
          
           $('#GetMessagesDiv').on('submit', '.SendForm', function () {

             
                 
                   
               var messageData = {
                   MessageData: $('#MessageDataDiv').val(), ReceiverId: $('#ReceiverIdDiv').val()
               };
           
               console.log('messageData: ', messageData);

                $.ajax({
                url: '@Url.Action("SendMessage", "Home")',


                data: messageData,
                success: function (data) {
                  
                    $('#GetMessagesDiv').html(data);
                   
                },
                error: function (data) {
                    alert( 'Error  SendMessage');
                }
            });
          return false;







           });
    });
</script>
  



@*\\\\SignalR\\\\\\\\*@



<script type="text/javascript">


       var notificationHub = $.connection.messageHub;


       $.connection.hub.start();


       $.connection.hub.start().done(function () {
          
       });


       notificationHub.client.notify = function () {

          

       };









      </script>













<script type="text/javascript">


       var refreshHub = $.connection.receiverHub;





       $.connection.hub.start().done(function () {

       });


       refreshHub.client.refreshPage = function (SenderId) {

           var SenderActive = $('#GetMessagesDiv  #ReceiverIdxxx').val();





           if (SenderId == SenderActive) {
               ///


               $(document).ready(function () {




                   $.ajax({
                       url: '@Url.Action("GetMessages", "Home")',


                       data: {
                           Id: $('.ButtonWithId').val(),

                       },
                       success: function (data) {


                           $('#GetMessagesDiv').html(data);
                       },
                       error: function (data) {
                           alert('Get Messages Error');
                       }
                   });






               });




///

           }
           else
           {



                $(document).ready(function () {




                   $.ajax({
                       url: '@Url.Action("GetReceivers", "Home")',


                      
                       success: function (data) {


                           $('#GetReceiversDiv').html(data);
                       },
                       error: function (data) {
                           alert('Get Messages Error');
                       }
                   });






               });



               
             
           }


       };




</script>





<script type="text/javascript">
       $(document).ready(function () {



           $('#GetMessagesDiv').on('mouseleave', '.SendForm', function () {




               var messageData = {
                   MessageData: $('#MessageDataDiv').val(), ReceiverId: $('#ReceiverIdDiv').val()
               };

              

               $.ajax({
                   url: '@Url.Action("UpdateReceivers", "Home")',


                   data: {
                       ReceiverId: $('#ReceiverIdDiv').val()
                   }
               ,
                success: function (data) {

                    $('#GetReceiversDiv').html(data);

                },
                error: function (data) {
                    alert( 'Error  SendMessage');
                }
            });
       







           });
    });
</script>


















}