@model List<MessengerApplication.WebUI.Models.ApplicationUser>
@{
    ViewBag.Title = "SearchForUser";
}

<h2>Find a User</h2>



@using (Html.BeginForm("SearchForUser","Home"))
{

    <div>
        @Html.Label("FirstName")
       

        <input type="text" id="FirstName" name="FirstName"/>

    </div>
    <br />
    <br />

    <div>
        @Html.Label("Surname")
        @Html.TextBox("Surname")
    </div>
    <br />
    <br />


    <div>
        @Html.Label("City")
        @Html.TextBox("City")
    </div>
    <br />
    <br />
    <div>
        @Html.Label("Age")
        @Html.TextBox("Age")
    </div>

    <br />
    <br />
    <input autocomplete="on" type="submit" value="Search" class="btn btn-danger" />

}

@if (Model != null)
{

    foreach (var item in Model)
    {
        <div>
            @Html.Label(item.FirstName + " " + item.Surname)
            @Html.ActionLink(item.FirstName+ " " + item.Surname, "AddPersonToConversation", new {id=item.Id , @class="btn btn-primary" })
        </div>
    }

}







@section Scripts
{
    
    <script>
        $(document).ready(function () {
            $('#FirstName').autocomplete({
              
        source: '@Url.Action("Autocomplete")'
    });
})


</script>
    
    
    }
    
   
    
    
    
    
    
    
    
    
  