@model List<MessengerApplication.WebUI.Models.ApplicationUser>
@{
    ViewBag.Title = "SearchForUser";
    Layout = null;
}





<h2>Find a User</h2>



@using (Html.BeginForm("SearchForUser", "Home"))
{

    <div>
        @Html.Label("FirstName")
        @Html.TextBox("FirstName")
    </div>


    <div>
        @Html.Label("Surname")
        @Html.TextBox("Surname")
    </div>



    <div>
        @Html.Label("City")
        @Html.TextBox("City")
    </div>

    <div>
        @Html.Label("Age")
        @Html.TextBox("Age")
    </div>


    <input type="submit" value="Search" class="btn btn-danger" />

}

@if (Model != null)
{

    foreach (var item in Model)
    {
        <div>
            @Html.Label(item.FirstName + " " + item.Surname)
        </div>
    }

}







@section Scripts
{
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <script>
         $(document).ready(function () {
             $("#FirstName").autocomplete({
                 source: function (request, response) {
                     $.ajax({
                         url: "/Home/Autocomplete",
                         type: "POST",
                         dataType: "json",
                         data: { Prefix: request.term },
                         success: function (data) {
                             response($.map(data, function (item) {
                                 return { label: item.FirstName, value: item.FirstName };
                             }))

                         }
                     })
                 },
                 messages: {
                     noResults: "", results: ""
                 }
             });
         })


    </script>


}


